h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.mainHold {
    background: lightgreen;
    border: 10px solid lightyellow;
    border-radius: 25px;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

.dream {
    width: 210px;
    height: auto;
}

.harmony {
    width: 180px;
    height: auto;
}

.escape {
    width: 210px;
    height: auto;
}

.vista {
    width: 185px;
    height: auto;
}

.radiance {
    width: 214px;
    height: auto;
}