.title {
    color: black;
    font-family: 'Croissant One', cursive;
    font-size: 100px;
    position: absolute;
    bottom: 8px;
    left: 70px;
}

.create {
    background-color: lightgreen;
    border: 10px solid lightyellow;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 70px;
}