.harmony {
    max-width: 240px;
    min-width: 20px;
    height: auto;
}

.dream {
    width: 281px;
    height: auto;
}

.escape {
    width: 285px;
    height: auto;
}

.radiance {
    width: 295px;
    height: auto;
}
.vista {
    width: 250px;
    height: auto;
}